<div class="sidebar">
  <!-- Menu -->
  <div class="menu">
    <ul class="menu-list">
      <!-- Home -->
      <li class="menu-item active">
        <a href="/v1/auth/"><i class="fas fa-home"></i></a>
      </li>
      <!-- Search -->
      <li class="menu-item">
        <a href="/v1/auth/sinh-vien"><i class="fas fa-search"></i></a>
      </li>
    </ul>
  </div>
</div>
